*{ 
    font-family: 'Raleway', sans-serif;
    background-color: #e0afd7;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aqua;
    padding: 20px 0px 20px 0px;
}
li{ font-weight: bold;}
li a,i{ background-color: aqua;}
a{ text-decoration: none;}
.card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 100px 100px 30px 100px;
    column-gap: 12px;
}
.card img{
    width: 200px;
    height: auto;
    padding: 0px 10px 50px 10px;
}
.card a{
    text-align: center;
    border-style: solid;
    border-color: black;
    padding: 80px 0px 70px 0px;
    box-shadow: 5px 5px 10px black ;
}
.abt{ margin: 20px;}
.main{ margin-bottom: 50px;}
.co{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: brown;
    color: azure;
    font:bold 14px;
    width:100%;
    height: auto;
    padding: 30px 0px 30px 0px;
}
.header{ margin: 10px 10px 10px 10px;}
.con1,.con2{     background-color: brown;}
@media (min-width: 680px) and (max-width: 1280px) {
    .card{
        display: grid;
        grid-template-columns: auto auto ;
        margin: 100px 100px 30px 100px;
        column-gap: 12px;
        row-gap: 12px;
    }    
}
@media (max-width: 679px) {
    .card{
        display: grid;
        grid-template-columns: auto ;
        margin: 100px auto 30px auto;
        column-gap: 12px;
        row-gap: 12px;
    }    
}
@media (max-width: 409px) {
    .card{
        display: grid;
        grid-template-columns: auto ;
        margin: 100px auto 30px auto;
        column-gap: 12px;
        row-gap: 12px;
    }    
}

